/*get rid of the default margins and padding for body*/

/************//*get rid of the default margins and padding for body

Passed validation 4/30/2023*/ 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p, h1, h2, h3,
  blockquote {
    margin: 0 5%;;
  }

  main {
    width: 100%;
  }

  .button{
    display: inline-block;
    border-radius: 4px;
    color: black;
    background-color: #f9e795;
    font-size: 1.5rem;
    padding: 5px 25px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 20px;
    transition: all 0.5s;
  }
  .button:hover{
    background: brown;
    color: white;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
    color: white;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .h1Home {
    margin-top: 5%;
   text-align: center;
  }

.about_main{
    width: 100%;
}

figure{
    text-align: center;
}


.container {
    border-radius: 5px;
   background-color: #f9e795;
    color: black;
    padding: 20px;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    max-width: 800px;
  }
  
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: brown;
    color: white;
    font-size: 17px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }


footer {
    width: 100%;
    height: auto;
    background-image: url('ISLT_7355/background-texture.png'):
    background-color: #f9e795;
    color: black;
    text-align: center;
    padding: 2rem 3rem;
    top: 0;
  
  }
  .footer-icon {
    width: 30px;
    height: auto;
    padding-right: 5px;
    vertical-align: middle; 
    margin-right: 10px;
  }  
  
  .footer-icon:hover {
    width: 50px;
    transition:width 0.3s linear 0s; 
  }
  
  .ctcVideo video {
    width: 320px;
    height: 240px;
    margin: 0 auto;
  }

  .mm img{
    width: 500px;
  }

  table-h2 {
    text-align: center;
   }
   
   
   table {
     width: 100%;
     border: 1px solid black;
     border-collapse: collapse;
   }
   
   
   thead th {
     background-color: #f9e795;
     color: black; 
     font-size: 100%;
     font-weight: bold;
     box-shadow: inset 0 -2px;
     padding: 5px;
    
   }
   
   tbody {
     color: black;
     font-size: 100%;
     padding: 5px;
   }
   
   tbody tr:nth-child(even) {
     background-color: #ddd; 
   }
   
   tfoot td {
     font-weight: bold;
     text-align: right;
     font-size: 100%;
     background-color: #f9e795;
     box-shadow: inset 0 2px;
   }
   
   table > tr:hover,
   tbody tr:hover {
     background: brown;
     color: white;
   }
   
   figcaption,
    .visible-hidden {
     clip-path: inset(1px 1px 1px 1px);
       height: 1px;
       overflow: hidden;
       position: absolute;
       white-space: nowrap;
       width: 1px;
   }
   
   .visible-hidden:focus {  
       clip: auto;
       height: auto;
       overflow: auto;
       position: absolute;
       width: auto;

/***************************MEDIA QUERIES  *************************/
       /************************** Tablets *******************/


@media only screen and (min-width: 450px) {

  .home_main{
    margin-left: 10%;
    margin-right: 10%;
  }

  .about_img {
    width: 75%;
    height: auto;
  }

 /* footer p {
    padding: 5%;
  }*/

  .goal h2 {
    font-size: 2rem;
  }

  .goal h4{
    font-size: 110%;
  }
  

  .goal p {
    margin-right: 0%;
  }

  table {    
    margin: 0 auto;
  }
  

  .about_table-h2 {
   text-align: center;
  margin-right: 20%;
  }



 
  .image {
    width: 500px;
    margin-top: 5%;
  }
  .container {
    position: relative;
    width: 70%;
    margin-left: 15%;
  }
  
  
  .text{
    margin-bottom: 5%;
  }
  



  .edu_details {
    text-align: left;
    list-style-position: inside;
    margin: 2rem auto;
    line-height: 2rem;
  }

  .edu_details h2 {
    margin: 2rem auto;
  }

  /* *** */
  .top-bar p {
    display: none;
  }

  #header1 h1 {
    font-size: 175%;
  }

  h4 {
    font-size: 110%;
  }

  .projectPic {  /*Put this in 3/26*/
    width: 75%;
    height: auto;
  }
  .subheading {
    font-size: 120%;
  }
  .line-2 {
    margin-left: 10%;
  }
/***5/2/ Contact form ****/
  .contact_container {
    margin-left: 10%;
    margin-right: 10%;
  }
  
}

/************************************** Desktop ********************************/
@media only screen and (min-width: 800px ) {

  .top-bar {
    width: 100%;
    height: auto;
    background-image: url('background_texture1.png');
    background-repeat: repeat;
    color: white;
    text-align: center;
    padding: 2rem 3rem;
    font-size: 15px;
    line-height: 1.5rem;
    top: 0;
  }
  
.home_main {
  margin: 2% auto 20%;
  margin-left: 20%;
  margin-right: 20%;
}

  .about_img {    
    float: right;
    width: 40%;
    height: auto;
    margin-left: 5%;
  }
  .about_h2{
    text-align: left;
    font-size: 250%;
  }

  .about_para h2 {
    padding-top: 10%;
  }

  .about_para p, .about_para blockquote {
    text-align: left;
  }

  .about_para p {
    line-height: 2rem;
    padding-bottom: 5%;
  }

  .about_para .quote-name {
    text-align: left;
  }

  .about_video {
    width: 60%;
    height: auto;
    margin-top: 10%;
    margin-left: 20%;
  }

  .about_video {
    clear: both;
  }  
  table {    
    margin: 0 auto;
    max-width: 1000px;
  }

  .about_table-h2 {
    margin-left: 18%;
  }

  

 /* footer p {
    padding: 2%;
  }*/
/*************Start of Projects Page****************/
.project-main {  
  width: 100%;
}
.project-header {
font-size: 175%;
}



.image {
  width: 400px;
}


.goal h2 {
    font-size: 2.5rem;
    margin-left: 10%;
  }
  .subheading {
    font-size: 130%;
  }

  .goal p {
    margin-right: 10%; 
  margin-left: 10%;
  }

  .goal h3{
    font-size: 115%;
    margin-left: 10%;
  }
    .subheading {
    font-size: 130%;
  }
  /******Button 800px screen size*******/

  .button {
    margin-left: 20%;
  }


    /******Back to Top of Page Button 800px screen size *******/
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color: #004c4c; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /* *Back to TOp of Page Button End** */

  
  h4 {
    font-size: 110%;
  }

  #home-header {
    font-size: 160%;
    }

    
  .container {
    position: relative;
    width: 75%;
    margin-left: 15%;
  }

  /******3/27 Contact Form 800px**********/
  .contact_container {
    margin-left: 20%;
    margin-right: 20%;
  }
  
}

@media only screen and (min-width: 1000px) {
/**********HOMEPAGE***********/

 
  .button {
    margin-left: 10%;
  }

  #header1 {
    font-size: 130%;
  }

    
  }
  .about_img:hover {
   /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
  }

@media only screen and (min-width: 1200px ) {
  .home_main {
    margin: 2% auto 20%;
    margin-left: 20%;
    margin-right: 20%;
  }

 .current-page {
  color: white;
  font-weight: bold;
}

  .goal p {
    margin-right: 20%; /*Put this in 3/26 Fixed the problem for larger screens for projects page*/
  margin-left: 20%;
  }
  .goal h2 {
    margin-left: 20%;
  }

  .goal h3{
    font-size: 115%;
    margin-left: 20%;
  }
 
  h3 {
    margin-right: 20%;
    margin-left: 20%;
  }

  
  /*******image overlay for video**************/
.container {
  position: relative;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* ****3/27*************** 1200px screen Button Animation Start***** */
.button {
  display: inline-block;
 border-radius: 4px;
 background-color: white;
 border: none;
 color: black;
 text-align: center;
 font-size: 100%;
 padding: 10px;
 width: 170px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5%;
 margin-left: 20%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: white;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ****3/27**** Button Animation End***** */

/* ****3/28**** Resources Page***** */

.resources_main{
  margin-left: 2cm;
  margin-right: 2cm;
}

.resources_main h1{
  margin-bottom: 7%;
}

 
/******Contact Form 1200px**********/
.contact_container {
  margin-left: 25%;
  margin-right: 25%;
}

}

/******5/3/23 Contact Form 1400px**********/

@media only screen and (min-width: 1400px ) {
.contact_container {
  margin-left: 30%;
  margin-right: 30%;
}
}


/********************************** Print Media Query **************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .about_header {
    font-family: kaushan, serif;
  }

  .about_para h2,
  .edu_details h2 {
    font-family: serif;
  }

  .menu,
  .about_img,
  .about_video,
  .about_button {
    display: none;
  }

  .about_header,
  .about_main {
    margin: 1cm 2.54cm;
    text-align: center;
  }

}





